<!DOCTYPE html>
<html>
    <head>
        <title> About the Issue </title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div class="navbar">
            <div class="logo">
                ECONOMY & EMISSIONS
            </div>

            <div>
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/data">Data</a>
                <a href="/visualizations">Visualizations</a>
                <a href="/tracking">Tracking</a>               
            </div>
        </div>


        <div class="container">
            <h1>About the issue</h1>
            <div class="card">
                <h2>Why This Topic Matters</h2>
                <p>Economic growth is often associated with increased energy consumption, transportation, and industrial production.</p>
                <p>Increased greenhouse gas emissions from these activities may contribute to climate change.</p>
                <p>However, some countries are making efforts to lower emissions through environmnetal regulations, energy efficiency, and renewable energy.</p>
            </div>

            <div class="card">
                <h2>Project Focus</h2>
                <p>This research investigates whether economic growth always results in increased carbon emissions across countries.</p>
                <p>By comparing GDP, Population, and Greenhouse gas emissions data, this website explores whether wealthier or faster grwoing countries always produce more carbon emissions across countries.</p>
            </div>
        </div>


    </body>
</html>


