<!DOCTYPE html>
<html>
    <head> 
        <title> Economic Growth and Carbon Emissions </title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
        
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap" rel="stylesheet">        
        
        <link rel="stylesheet" href="/static/style.css">

    </head>
    <body>
        <div class="navbar">
            <div class="logo">
                ECONOMY & EMISSIONS
            </div>

            <div>
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/data">Data</a>
                <a href="/visualizations">Visualizations</a>
                <a href="/tracking">Tracking</a>               
            </div>
        </div>

        <div class="container">
            <section class="hero">
                <h1>
                    Economic Growth<br>
                    and Carbon Emissions
                </h1>
                <p>
                    Exploring whether economic growth always leads to higher greenhouse gas emissions across countries.
                </p>

                <a class="button" href="/visualizations"> Explore the Data </a>
            </section>

            <div class="grid">
                <div class="stat">
                    <h2>GDP</h2>
                    <p>Measure a country's economic output and growth.</p>
                </div>

                <div class="stat">
                    <h2>Greenhouse Gas</h2>
                    <p>Shows greenhouse gas emissions produced by countries.</p>
                </div>

                <div class="stat">
                    <h2>Per capita</h2>
                    <p>Compares data based on population size.</p>
                </div>

            </div>

        </div>
    </body>
</html>