<!DOCTYPE html>
<html>
    <head>
        <title> Visualizations </title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body> 
        <div class="navbar">
            <div class="logo">
                ECONOMY & EMISSIONS
            </div>

            <div>
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/data">Data</a>
                <a href="/visualizations">Visualizations</a>
                <a href="/tracking">Tracking</a>               
            </div>
        </div>

        <div class="container">
            <h1>Data Visualizations</h1>
            <p class="section-subtitle">
                Relationship between economic growth and greenhouse gas emissions
            </p>
            <div class="graph-grid">
                <div class="card graph-card">
                    <h2>GDP vs. Greenhouse Gas Emissions</h2>
                    <img src="/static/gdp_vs.ghg.png" class="graph-image">
                </div>
                <div class="card graph-card">
                    <h2>GDP per capita vs. Greenhouse Gas Emissions per capita</h2>
                    <img src="/static/gdp_per_capita_vs.ghg_per_capita.png" class="graph-image">
                </div>
            </div>                
            <div class="insight-box">
                <h3>Analysis Insight</h3>
                <p>
                    The visualizations show that the countries with higher total GDP generally tend to produce higher total greenhouse gas emissions. This suggests that larger economies often tend to consume more energy, transportation, and industrial activity which results in higher emissions. 
                </p>
                <p>
                    However, the per capita graph shows a weaker relationship. Some countries with high GDP per capita do not always have the highest emissions per person. This indicates that economic wealth alone does not fully explain greenhouse gas emissions. 
                </p>
                <p>
                    Other factors such as the size of a country's population, its energy sources, environmental policies, and industrial structure can also influence how much a country emits. Overall, the data displays that economic growth and emissions are linked, but the relationship is not always straightforward. 
                </p>
            </div>
        </div>
    </body>
</html>